body{
	background-image: url("../svg/customer_signin_bg.svg");
	background-size:cover;
	background-repeat:no-repeat;
}
.box{
	max-width:60.333333%;
	border-radius:25px;
	margin-top:130px; 
	margin-bottom:130px; 
	margin-left:270px;
	//border:1px solid #000;
	padding-left:0px;
	padding-right:0px;
	box-shadow:0px 0px 20px 0px lightgrey;
}
.logo{
	margin-bottom:40px;
	width:120px;
}
@font-face{
	font-family: Titillium Web;
	src : url(../ext_fonts/TitilliumWeb-Regular.ttf);
}
@font-face{
	font-family: Titillium Web Bold;
	src : url(../ext_fonts/TitilliumWeb-Bold.ttf);
}
@font-face{
	font-family: Titillium Web SemiBold;
	src : url(../ext_fonts/TitilliumWeb-SemiBold.ttf);
}
.twrfont{
	font-family:Titillium Web;
}
.twbfont{
	font-family:Titillium Web Bold;
}
.twsfont{
	font-family:Titillium Web SemiBold;
}
.form-control{
	padding:0px .75rem;
}
.login-part{
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	background-color:#fff;
}
.email-pwd-input:focus{
	background-color: transparent;
	box-shadow:none;
	border-bottom:1px solid #21ce99;
}
.email-pwd-input{
	border-bottom:1px solid #000;
	border-left:none;
	border-top:none;
	border-right:none;
	border-radius:0px;
}
.form-check-input{
	margin-top:4px;
}
.sign-login-button{
	margin-top:10px;
	border-radius:20px;
	background-color:#21ce99;
	color:#fff;
	border:1.5px solid #21ce99;
	padding:.375rem 25px;
}
.sign-login-button:hover{
	background-color:transparent;
	color:#21ce99;
}
.forgot_login{
	color:grey;
	margin-left:80px;
	//margin-top:100px;
}
.forgot_login:hover{
	color:#21ce99;
}
.login-part-in{
	line-height:1;
	margin-top:35px;
	margin-left:50px;
	margin-bottom:130px;
	margin-right:70px;
}
.login-form{
	margin-top: 30px;
}
.signin-part{
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	background-color:#10494f;
}
.sign-email-pwd-input{
	color:#fff;
	background-color:transparent;
	border-bottom:1px solid #fff;
	border-left:none;
	border-top:none;
	border-right:none;
	border-radius:0px;
}
.sign-email-pwd-input:focus{
	color:#fff;
	background-color: transparent;
	box-shadow:none;
	border-bottom:1px solid #21ce99;
}
.signin-part-in{
	line-height:1;
	margin-top:110px;
	margin-left:50px;
	margin-right:75px;
	margin-bottom:80px;
}
.remember{
	font-size:7.5pt;
}
.form-control::-webkit-input-placeholder{
	color:lightgrey;
}
.form-control::-moz-placeholder{
	color:lightgrey;
}